body{
    background-color: hsl(30, 54%, 90%);
    font-family: 'Outfit', sans-serif;
}

/* Constant values */
h1, h2, h3 {
  
  font-family: 'Young Serif', serif; 
 
  font-weight: 400;
}
h2{
    color: hsl(14, 45%, 36%);
}
section{
    width: 90%;
    margin: auto;
}
hr{
    border: none;
    border-top: solid 1px hsl(30, 18%, 87%);
    
    
}


li {
    padding: 10px;
    color: hsl(30, 10%, 34%);
    font-size: small;
    white-space: nowrap;
    

}
li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: 700;

}
ul , ol{
    
    padding: 0%;
    padding-left: 22px;
    
}
span , p{
    text-transform: capitalize;
    color: hsl(30, 10%, 34%);
    font-weight: bold;
    font-size: small;
}


/* parent */

.parent{
    background-color: white;
    text-align: left;
    width: 45%;
    height: fit-content;
    margin-top: 10%;
    margin: auto;
    padding-top: 20px;
    border-radius: 10px;
}


/* img  and content*/
.img_content{
    
   margin-left: 1%;
}

img {
    display: block;
    
    width:90%;
    border-radius: 15px;
    margin: auto;

    
    
    
    
    
}
.img_content h1 {
    
    
    
    text-transform: capitalize;
    

}
.img_content p {
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    
    font-size:small;
    

    white-space: pre-line;
    padding-bottom: 20px;
}
.img_content h1 , p {
    margin-left: 19px;

}


/*  total time */
.time{
    background-color:hsl(330, 100%, 98%);
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 4px 0;
}


.time p {
    color: hsl(332, 51%, 32%);
    font-weight: 600;
    font-size: large;
    text-transform: none;
    
}

.time li {
    color: hsl(30, 10%, 34%);
    font-size: smaller;
    padding: 5px;
}
.time ul{
   margin-left: 20px;
}

/*  Ingredients  (none) */











/* Instructions (none) */





/* Nutrition */
.nutrition{
    padding-bottom: 20px;
    
}
.nutrition p {
    font-size: medium;
    font-weight: 600;
    white-space: pre;
}
.nutrition span {
    font-size: medium;
    text-align: center;
    display: block;
    margin-top: -4%;
    color: hsl(14, 45%, 36%);    
}
